<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>
    <link rel="icon" href="https://images.contentstack.io/v3/assets/blt2ac872571a60ee02/blt04d9aeb2857aad76/616edebc923218529eecdb82/favicon.png" type="image/png">
    <!-- no funciona por npm, idk why -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script defer src="js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="js/script.js"></script>

</head>
<body>